/* Write your CSS here */
.conf-control-container {
  background-color: #475569;
  height: 25vh;
  margin-bottom: 10px;
  padding: 20px;
}
.res-cont {
  display: flex;
  flex-direction: column;
}
.layout-title {
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto';
}
.check-label-container {
  display: flex;
  flex-direction: row;
}
.label-style {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 10px;
}
